* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
}

body {
  background-color: beige;
}

.index-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 100vw;
  background-color: rgb(0, 174, 165);
  gap: 1rem;
}
main {
  min-height: 90vh;
}
.nav_link {
  color: black;
  font-size: 1.3rem;
  text-decoration: none;
  list-style: none;
}
.nav_link:hover {
  color: white;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  background-color: rgb(200, 200, 163);
  width: 100vw;
}

.add_Blog{
  margin: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  
}

.blogs {
  
}

.blog {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  padding: 2rem;
  background-color: rgb(208, 251, 231);
}

.active {
  color: white;
}

